/* Bootstrap Icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --heading-font: "Libre Baskerville", sans-serif;
    --body-font: "Inter", sans-serif;
    --button-font: "Work Sans", sans-serif;
    /* --primary-color: indigo; */
    /* --secondary-color: rgb(122, 0, 209); */
    --primary-color: #158bc1;
    --secondary-color: #093d55;
    --background-color: #f8fafc;
    --tertiary-color: #2c2c2c;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--primary-color) !important;
    font-family: var(--heading-font) !important;
}

a,
p {
    color: var(--text-color) !important;
    font-family: var(--body-font) !important;
}
.btn-light {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
    font-family: var(--button-font) !important;
    transition: all 0.3s ease-in-out !important;
}
.btn-light:hover {
    background-color: var(--secondary-color) !important;
    border-color: var(--secondary-color) !important;
}
.btn-light:active {
    background-color: var(--secondary-color) !important;
    border-color: var(--secondary-color) !important;
}
.btn-light:focus {
    background-color: var(--secondary-color) !important;
    border-color: var(--secondary-color) !important;
}
.toast-container {
    position: fixed !important;
    bottom: 0.8rem;
    right: 0.8rem;
    z-index: 1050;
}
.form-control,
.form-select,
label {
    font-family: var(--body-font) !important;
}
textarea:focus,
select:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border: 2px solid var(--primary-color) !important;
    box-shadow: 0 0 4px var(--primary-color) !important;
    outline: none !important;
    border-radius: 4px !important;
    transition: border-color 0.3s, box-shadow 0.3s ease-in-out !important;
}
textarea:hover,
select:hover,
input[type="text"]:hover,
input[type="password"]:hover,
input[type="datetime"]:hover,
input[type="datetime-local"]:hover,
input[type="date"]:hover,
input[type="month"]:hover,
input[type="time"]:hover,
input[type="week"]:hover,
input[type="number"]:hover,
input[type="email"]:hover,
input[type="url"]:hover,
input[type="search"]:hover,
input[type="tel"]:hover,
input[type="color"]:hover,
.uneditable-input:hover {
    border-color: var(--primary-color);
}
.custom-error {
    font-size: 0.8rem !important;
    font-family: var(--body-font) !important;
}
/* HEADER STYLING */
#brand-title,
.nav-link {
    font-family: var(--button-font) !important;
    font-size: 1rem !important;
    border-radius: 2rem !important;
    border: solid 1px transparent !important;
    transition: all 0.3s ease-in-out !important;
}
.nav-link:hover {
    border: solid 1px var(--primary-color) !important;
    background-color: var(--primary-color) !important;
    color: var(--background-color) !important;
}
.active {
    border-radius: 2rem !important;
    border: solid 1px var(--primary-color) !important;
    background-color: var(--primary-color) !important;
    color: var(--background-color) !important;
}
.dropdown:hover > .dropdown-menu {
    display: block !important;
}
.dropdown > .dropdown-toggle:active {
    pointer-events: none !important;
}
.dropdown-menu {
    padding: 0.5rem !important;
    border-radius: 0rem 0rem 0.5rem 0.5rem !important;
    transition: all 0.7s ease-in-out !important;
}
.dropdown-item {
    font-family: var(--button-font) !important;
    margin: 0.25rem 0 !important;
    border-radius: 0.5rem !important;
}
.dropdown-item:hover {
    background-color: var(--primary-color) !important;
}
.dropdown-item:focus {
    background-color: transparent !important;
    border-color: var(--primary-color) !important;
}
.dropdown-item:active {
    background-color: var(--primary-color) !important;
    color: var(--background-color) !important;
}
.dropdown-toggle:hover {
    border-radius: 2rem 2rem 0rem 0rem !important;
}
.custom-dropdown {
    transform-origin: top right;
    right: 0;
    left: auto;
}

/* FOOTER STYLING */
.badge {
    font-family: var(--button-font) !important;
    transition: all 0.3s ease-in-out !important;
}
.badge:hover {
    color: var(--primary-color) !important;
}
.link-active {
    color: var(--primary-color) !important;
}
/* HOME PAGE STYLING */
#hero-card {
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}
#hero-card:hover {
    box-shadow: 0 4px 20px var(--primary-color) !important;
    transform: translateY(-5px) !important;
}
.custom-home-card {
    height: 250px !important;
    transition: all 0.3s ease;
}
.custom-home-card:hover {
    background-color: var(--primary-color) !important;
    box-shadow: 0 4px 20px var(--primary-color) !important;
    transform: translateY(-5px) !important;
}
.custom-home-card:hover h5,
.custom-home-card:hover p,
.custom-home-card:hover .btn,
.custom-home-card:hover .icon {
    color: var(--background-color) !important;
}

/* PEOPLE PAGE STYLING */
.custom-person-card {
    cursor: pointer;
    transition: all 0.3s ease;
}
.custom-person-card:hover {
    box-shadow: 0 4px 20px var(--primary-color) !important;
    transform: translateY(-5px) !important;
}
.person-email {
    font-family: var(--button-font) !important;
    font-size: 0.8rem !important;
    text-decoration: none !important;
    color: var(--primary-color) !important;
}
.person-email:hover {
    text-decoration: underline !important;
}
